.footer{
    background-color: $raising-black;
    height: 15vh;
    font-size: $large;
}

.footer__container{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

.footer__ul{
    width: 50%;

}

.footer__item{
    text-decoration: none;
    color: $white;
    box-sizing: border-box;
    padding-left: 7%;
    color: $gray;

}
.footer__item-final{
    text-decoration: none;
    color: $white;
    box-sizing: border-box;
    padding-right: 5%;
    color: $gray;
}
