//Seccion header
@media (min-width: 1200px){
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

//Seccion hero-section


//Seccion features



//Seccion de cards
@media (min-width: 1200px){
    .section__grid{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 5%;
        text-align: center;
    }
}


@media (min-width: 600px) {
    .section__grid{
        display: grid;
        grid-template-rows: repeat(1,1fr);
        grid-gap: 5%;
        text-align: center;
    }
}